.home-container-1{
    margin-top : 70px;
}

.user-details{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.user-details h4{
    color: #58D5DA;
}
.dashDescription h2{
   text-align: left;
   color: #58D5DA;
}

.desedit{
    display: flex;
    justify-content: space-between;
}
.edit{
    margin-top: 44px;
    padding: 8px 30px;
}