
h2{
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.login-heading{
    background-color: #58D5DA;
    padding: 12px 100px;
    border-radius: 5px;

}

.container1{
    box-sizing : content-box;
    margin:  100px auto ;
    width : 80vw;
    padding : 0px;
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    border:  2px  solid rgba(88, 213, 218,0.5);
    border-radius: 20px;

}


.input{
    margin: 5px;
    padding: 12px 100px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
    background-color:rgba(88,213,218,0.2);
    color: #58d5da;
    border: 1px solid rgba(	88,213,218,0.75);
}
.left1{
    padding: ;
    width : 60%;
}


.right1{
  
    padding: 5px 65px;
    background : rgba(88, 213, 218,0.2);
    backdrop-filter: blur(50px);
    border-radius : 0px 20px 20px 0px;
    /* width : 100px; */
}

.login-heading{
    margin-top : 20px;
    padding-top : 5px ;
    background : none;
    font-size : 40px;
    padding : 20px ;;
}

.btn{
    padding: 12px 152px;
    margin-top: 40px;
    margin-bottom : 10px;
    margin-left : 10px;
    background-color:#58D5DA;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}
.dont{
    color: #58D5DA;
    cursor: pointer;
}

::placeholder{
    color:#ffffff;
}

/* ABout CSS */
.img-login-container{
    padding : 20px;
}
.img-login-container img {
    height : 100%;
    width : 100%;
    object-fit : fill;
}

.img-login:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
.img-login:not(:hover){
    transition: 0.3s;
    transform: scale(1);
}
.btn:hover{
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
    background : #58D5DA;
}
.btn:not(:hover){
    transition: 0.3s;
    transform: scale(1);
}
.input:focus{
   transition: 0.1s;
   transform: scale(1.03);
   outline: none;
   border: 2px solid rgba(	88,213,218,0.75);
  

}
.p22{
    text-align: center;
}
.h22{
    text-align: center;
    font-size : 40px;
}